{% extends 'layouts/app.html' %}
{% load static %}
{% load tags %}

{% block head %}
    <title>Página inicial</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/_variables.css' %}">

    <script type="module" src="{% static 'js/components/_recorder.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container center-align h-100 d-flex flex-column justify-content-center align-items-center">
    <div id="request-voice" class="w-50 w-md-75 w-sm-100 h-25 d-flex justify-content-center align-items-center">
        {% render_recorder '180' %}
    </div>

    <div id="spinner" class="w-100 h-auto mt-10 d-none">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="response-voice" class="w-50 w-md-75 w-sm-100 h-25 d-flex justify-content-center align-items-center mt-10 d-none">
        {% render_recorder '180' %}
    </div>
</div>
{% endblock %}
