{% extends 'layouts/app.html' %}
{% load static %}
{% load tags %}

{% block head %}
    <title>Página inicial</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/_variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/_recorder.css' %}">

    <script type="module" src="{% static 'js/components/_recorder.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container center-align h-100 d-flex flex-column justify-content-center align-items-center">
    {% csrf_token %}
    <div class="request-voice w-50 w-md-75 w-sm-100 min-h-25 d-flex justify-content-center align-items-center">
        {% render_recorder '60' %}
    </div>

    {% include 'components/_spinner.html' %}

    <div class="response-voice w-50 w-md-75 w-sm-100 min-h-25 d-flex justify-content-center align-items-center mt-10 d-none">
        {% render_recorder '60' 'opened recorded' %}
    </div>
</div>
{% endblock %}
