{% load static %}
<div class="card-panel grey lighten-5 z-depth-1 h-100 w-100 m-0">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
        <a id="btn-record" class="btn tooltipped waves-effect waves-light p-2 h-auto position-relative" data-position="top" data-tooltip="Grave seu audio">
            <i class="material-icons rotate-270 font-rem-20" style="line-height:normal;vertical-align:middle;">arrow_drop_down_circle</i>
        </a>

        <a id="btn-stop" class="btn tooltipped waves-effect waves-light h-100 w-100 d-none p-2 h-auto" data-position="top" data-tooltip="Pare a gravação">
            <i class="material-icons">stop</i>
        </a>
    </div>
</div>
